* {
    box-sizing: border-box;
    font-family: Raleway;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

h2 {
    font-weight: 800;
    font-size: 20px;
}

h3 {
    font-weight: 800;
    font-size: 15px;
}

h4 {
    font-weight: 700;
    font-size: 14px;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    z-index: 500;
    width: 100%;
    height: 120px;
    padding: 0 60px;
}


/* start navigation */
nav {
    display: flex;
    height: 100%;
    margin-right: 150px;
}

header nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
    list-style: none;
}

header a.register {
    position: absolute;
    right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: capitalize;
    height: 100%;
    width: 150px;
    font-size: 15px;
    font-weight: 700;
    color: #0065FC;
}

header nav ul li {
    position: relative;
    height: 100%;
    width: 150px;
}

header nav ul li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    background-color: #0065FC;
    transition: 0.3s;
}

header nav ul li:hover:before {
    opacity: 1;
    height: 3px;
}

header nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 15px;
    color: black;
    height: 100%;
    width: 100%;
    transition: 0.1s;
}

header nav ul li a:hover {
    color: #0065FC;
    font-weight: 600;
}

/* end navigation */


main {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 120px 60px 0 60px;
    background-color: #fff;
}

/* start main title */
.main-title {
    display: flex;
    flex-direction: column;
}

h1#title {
    font-weight: 800;
    font-size: 20px;
    margin: 0;
}

.main_title p {
    font-weight: 400;
    font-size: 15px;
    margin: 5px 0 0 0;
}

/* end main title */

/* start search section */
section#search {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

form#search_form {
    position: relative;
    display: flex;
    width: 400px;
    height: 40px;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    margin: 15px 0;
}

form#search_form::before {
    content: "\f3c5";
    font-family: "Font Awesome 5 free";
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    width: 40px;
    background-color: #F2F2F2;
}

form#search_form input[type=text] {
    flex: auto;
    height: 100%;
    border: solid 1px #F2F2F2;
    padding: 10px;
    font-size: 13px;
    font-weight: 700;
}

form#search_form button[type=submit] {
    position: absolute;
    right: 0;
    padding: 0 15px;
    height: 100%;
    border: none;
    cursor: pointer;
    background-color: #0065FC;
    outline: none;
    color: white;
    font-weight: 600;
    font-size: 13px;
}

form#search_form button[type=submit]::after {
    content: "Rechercher";
}

div#filters {
    display: flex;
    margin: 15px 0;
}

div#filters h2 {
    font-weight: 700;
    font-size: 13px;
}

div#filters ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

div#filters h2,
div#filters ul li {
    margin-right: 20px;
}

div#filters ul li {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 40px;
    border: solid 2px #F2F2F2;
    border-radius: 20px;
}

div#filters ul li:before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 40px;
    background-color: #DEEBFF;
    border-radius: 20px;
    transition: 0.2s;
}

div#filters ul li:hover:before {
    width: 100%;
}

div#filters ul li i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40px;
    color: #0065FC;
    z-index: 100;
}

div#filters ul li p {
    margin: 0 15px 0 10px;
    z-index: 200;
    font-size: 13px;
}

div.info {
    display: flex;
    align-items: center;
    margin: 10px 0 60px 0;
}

div.info i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border: solid 1px #DEEBFF;
    border-radius: 50%;
    color: #0065FC;
    font-size: 13px;
}

div.info p {
    margin: 0 0 0 10px;
    font-weight: 400;
    font-size: 13px;
}

/* end search section */

.anchor {
    position: absolute;
    top: -150px;
    left: 0;
}

/* start results section */
section#results {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.results_card {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 30px;
}

#accomodations {
    flex: 2;
    max-width: 1200px;
    margin-right: 30px;
}

#popular {
    flex: 1;
    max-width: 500px;
    margin-left: 20px;
}

.results_card h2 {
    margin: 40px 40px 20px 40px;
}

#popular h2 {
    display: flex;
    justify-content: space-between;
}

.thumbnails {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 40px;
}

.results_card a {
    display: flex;
    text-decoration: none;
    border: solid 5px white;
    color: black;
    outline-offset: -5px;
    border-radius: 15px;
    margin-bottom: 40px;
    overflow: hidden;
}

#accomodations a {
    width: 31%;
    height: 250px;
    color: black;
}

#popular a {
    margin-bottom: 35px;
    height: 175px;
    width: 100%;
}

.results_card a:hover>figure img {
    transform: scale(1.05);
}

.results_card a figure {
    display: flex;
    position: relative;
    margin: 0;
    width: 100%;
}

.results_card a figure img {
    -o-object-fit: cover;
       object-fit: cover;
    transition: 0.3s ease-out;
}

#accomodations a figure img {
    width: 100%;
    height: 60%;
}

#popular a figure img {
    width: 40%;
    height: auto;
}

.results_card a figure figcaption {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0px 10px;
    background-color: white;
}

#accomodations a figure figcaption {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
}

#popular a figure figcaption {
    top: 0;
    right: 0;
    height: 100%;
    width: 60%;
}

.results_card a figure figcaption h3 {
    margin: 0;
}

.results_card a figure figcaption p {
    margin: 5px 0;
    font-weight: 400;
    font-size: 15px;
}

.results_card a figure figcaption p span {
    font-weight: 600;
}

.results_card figure figcaption .rate i.blue_star {
    color: #0065FC;
}

.results_card figure figcaption .rate i.grey_star {
    color: #e2e2e2;
}

.results_card p.load_more {
    margin: 0px 35px 35px 35px;
    font-weight: 700;
    font-size: 15px;
    width: 100px;
    cursor: pointer;
}

/* end results section */

/* start activities section */

#activities {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

#activities h2 {
    margin: 0;
    margin-bottom: 20px;
}

#activities .activities_wrapper {
    display: flex;
    justify-content: space-between;
}

#activities .activities_wrapper .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
    height: 600px;
}

#activities .activities_wrapper .col a {
    position: relative;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 5px 1px #dfdfdf;
    color: black;
}

#activities .activities_wrapper .col a:hover>figure img {
    transform: scale(1.05);
}

#activities .activities_wrapper .multi a:first-child {
    margin-bottom: 40px;
}

#activities .activities_wrapper .col a figure {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

#activities .activities_wrapper .col a figure img {
    width: auto;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transition: 0.3s ease-out;
}

#activities .activities_wrapper .col2 a:first-child img,
#activities .activities_wrapper .col4 a:last-child img {
    width: 100%;
    height: auto;
}

#activities .activities_wrapper .col a figure figcaption {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
}

#activities .activities_wrapper .col a figure figcaption h3 {
    margin: 0;
}

/* end activities section */

/* start footer */
footer {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
}

footer .col {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 60px;
}

footer .col h4 {
    margin: 0px 0 10px 0;
}

footer .col a {
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: black;
    margin: 7px 0;
}

/* end footer */