 /* 4k */
 @media screen and (min-width:2560px){

    #accomodations {
        max-width: 70%;
    }

    #popular {
        max-width: unset;
    }

    #activities .activities_wrapper .col a figure img {
        width: 100%;
    }
 
 }
