 /* mobile */
 @media screen and (max-width:754px) {
     header {
         flex-direction: column;
         align-items: flex-start;
         padding: 0;
     }

     a#logo {
         margin: 20px 0 0 20px;
     }

     nav {
         width: 100%;
     }

     header nav ul {
         width: 100%;
         justify-content: space-between;
     }

     header nav ul li {
         flex: 1;
     }

     header nav ul li:before {
         top: 100%;
         bottom: 0;
         background-color: #F2F2F2;
         opacity: 1;
         height: 3px;
     }

     header nav ul li:hover:before {
         background-color: #0065FC;
     }

     header a.register {
         right: 0;
         width: unset;
         height: unset;
         margin: 35px 20px 0 0;
     }

     main {
         padding: 150px 0 0 0;
     }

     .main_title p {
         margin: 10px 0 0 0;
     }

     section#search,
     .main_title {
         padding: 0 20px;
     }

     form#search_form {
         width: 100%;
         margin: 20px 0;
     }

     form#search_form button[type=submit] {
         border-radius: 10px;
     }

     form#search_form button[type=submit]::after {
        content: "\f002";
        font-family: "Font Awesome 5 Free";
    }

     div#filters {
         flex-direction: column;
         margin: 0;
     }

     div#filters ul {
         flex-wrap: wrap;
     }

     div#filters ul li {
         margin-bottom: 15px;
     }

     div.info {
         margin: 10px 0 30px 0;
     }

     section#results {
         flex-direction: column;
         margin-bottom: 20px;
     }

     .results_card {
         border-radius: 0;
     }

     .results_card h2 {
         margin: 30px 20px 20px 20px;
     }

     #accomodations {
         order: 2;
         margin-right: 0;
         background-color: transparent;
     }

     #accomodations a {
         min-width: 100%;
         height: 200px;
         margin-bottom: 15px;
         box-shadow: 0 0 5px 1px #dfdfdf;
     }

     #popular {
         order: 1;
         margin-left: 0;
         padding-bottom: 20px;
         max-width: unset;
     }

     #popular a {
         min-width: 100%;
         height: 150px;
         margin-bottom: 15px;
     }

     .thumbnails {
         padding: 10px 20px;
     }

     .results_card p.load_more {
         margin: 0 20px;
     }

     #activities {
         margin-bottom: 20px;
     }

     #activities h2 {
         margin: 30px 20px 20px 20px;
     }

     #activities .activities_wrapper {
         flex-wrap: wrap;
         flex-direction: column;
         padding: 10px 20px;
     }

     #activities .activities_wrapper .col {
         width: 100%;
         height: unset;
     }

     #activities .activities_wrapper .col a {
         height: 200px;
         margin-bottom: 15px !important;
     }

     #activities .activities_wrapper a figure img {
         width: 100% !important;
         height: auto !important;
     }

     footer {
         flex-direction: column;
         padding: 20px;
     }

     footer .col {
         width: unset;
         margin: 20px 0;
     }
 }