 /* tablet */
 @media screen and (min-width:755px) and (max-width:1400px) {

    div#filters ul {
        flex-wrap: wrap;
    }

    div#filters ul li {
        margin-bottom: 15px;
    }

    div.info {
        margin: 0px 0 30px 0;
    }

    section#results {
        flex-direction: column;
        margin-bottom: 40px;
    }

    #accomodations {
        margin-right: 0;
    }

    #accomodations a {
        min-width: 47%;
    }

    #popular {
       max-width: unset;
       margin-left: 0;
       margin-top: 40px;
    }

    #activities .activities_wrapper img {
        height: 100% !important;
    }

 }
